body {
    font-family: "Calibri", sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    --nav-width: 17%;

    --background: #FFFFFF;
    --text: #000000;
    --gray: #F0F0F0;
}

#nav-div {
    background-color: var(--gray);
    overflow: hidden;

    width: var(--nav-width);
    height: 100vh;
    position: fixed;
}

#nav-list {
    list-style: none;
    color: var(--text);
    font-size: 22px;

    padding: 20%;
    text-align: left;
}

#nav-main {
    font-weight: 1000;
    font-size: 25px;
}

.nav-element {
    font-size: 23px;

    padding-top: 40%;
    padding-left: 10%;
}

.nav-link {
    color: var(--text);
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#nav-language-div {
    position: absolute;
    bottom: 4%;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

#nav-language-text {
    font-size: 15px;
}

#nav-language-choice {
    background-color: var(--gray);
    border: 1px solid;
    cursor: pointer;
}

#home {
    color: var(--text);

    margin-left: var(--nav-width);
    padding-top: 6%;
    padding-left: 6%;
}

#home-info {
    border: solid var(--text);

    margin-top: 40px;
    margin-right: 6%;
    padding: 20px;
}

#home-heading {
    font-size: 50px;
    text-align: left;
}

.home-text {
    font-size: 30px;
    line-height: 40px;
}

.home-text-sub {
    font-size: 25px;
    text-align: justify;

    margin-top: 15px;
}

#contact-heading {
    font-size: 50px;

    margin-left: var(--nav-width);
    padding-top: 6%;
    padding-left: 6%;
}

#contact-list {
    margin-left: var(--nav-width);
    padding-top: 3%;
    padding-left: 10%;
}

.contact-element {
    font-size: 25px;
    margin-bottom: 30px;
}

.contact-link {
    color: var(--text);
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#blog-heading {
    font-size: 50px;

    margin-left: var(--nav-width);
    padding-top: 6%;
    padding-left: 6%;
}

#blog-notice-div {
    margin-left: var(--nav-width);
    padding: 3% 5% 0% 5%;
}

.blog-notice {
    background-color: var(--gray);
}

.blog-notice-heading {
    font-size: 25px;
    text-align: center;
    color: var(--text);

    padding: 5%;
}

#project-heading {
    font-size: 50px;

    margin-left: var(--nav-width);
    padding-top: 6%;
    padding-left: 6%;
}

.project-line {
    padding: 5% 5% 0% 5%;
    display: flex;
    justify-content: center;
    margin-left: var(--nav-width);
}

.project-info:not(:last-child) {
    margin-right: 50px;
}

.project-info {
    background-color: var(--gray);
}

.project-title {
    text-align: center;
    font-size: 25px;
    color: var(--text);

    padding: 5%;
}

.project-image {
    height: 100px;

    margin-left: auto;
    margin-right: auto;
    display: block;
}

.project-text {
    text-align: justify;
    font-size: 20px;
    line-height: 22px;
    color: var(--text);

    padding: 5% 7% 5% 7%;
}

#skill-div {
    color: var(--text);

    margin-left: var(--nav-width);
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 6%;
}

#skill-heading {
    font-size: 40px;
}

.skill-line {
    margin-top: 40px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}

.skill-info {
    font-size: 25px;
}

footer {
    margin-top: 50px;
}

.footer-div {
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    margin-left: var(--nav-width);
}

.footer-logo {
    height: 30px;
}

.footer-copyright {
    font-size: 15px;

    margin-top: 5px;
}
