body {
    font-family: "Calibri", sans-serif;

    --nav-width: 17%;

    --background: #FFFFFF;
    --text: #000000;
    --gray: #F0F0F0;
}

#nav-div {
    background-color: var(--gray);
    overflow: hidden;

    width: var(--nav-width);
    height: 100vh;
    position: fixed;
}

#nav-list {
    list-style: none;
    color: var(--text);
    font-size: 22px;

    padding: 20%;
    text-align: left;
}

#nav-main {
    font-weight: 1000;
    font-size: 25px;
}

.nav-element {
    font-size: 23px;

    padding-top: 40%;
    padding-left: 10%;
}

.nav-link {
    color: var(--text);
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#home {
    color: var(--text);

    margin-left: var(--nav-width);
    padding-top: 6%;
    padding-left: 6%;
}

#home-info {
    border: solid var(--text);
    border-radius: 10px;

    margin-top: 40px;
    margin-right: 6%;
    padding: 20px;
}

#home-heading {
    font-size: 50px;
    text-align: left;
}

.home-text {
    font-size: 30px;
    line-height: 40px;
}

.home-text-sub {
    font-size: 25px;
    text-align: justify;

    margin-top: 15px;
}

.blogs {
    padding: 5% 5% 0% 5%;
    display: flex;
    justify-content: center;
    margin-left: var(--nav-width);
}

.blogs-info:not(:last-child) {
    margin-right: 50px;
}

.blogs-info {
    background-color: var(--gray);
}

.blogs-heading {
    text-align: center;
    font-size: 25px;
    color: var(--text);

    padding: 5%;
}

.blogs-text {
    text-align: justify;
    font-size: 20px;
    line-height: 22px;
    color: var(--text);

    padding: 0% 7% 5% 7%;
}

#contact-heading {
    font-size: 50px;

    margin-left: var(--nav-width);
    padding-top: 6%;
    padding-left: 6%;
}

#contact-list {
    margin-left: var(--nav-width);
    padding-top: 4%;
    padding-left: 10%;
}

.contact-element {
    font-size: 25px;
}

#blog-heading {
    font-size: 50px;

    margin-left: var(--nav-width);
    padding-top: 6%;
    padding-left: 6%;
}

#blog-notice-div {
    margin-left: var(--nav-width);
    padding: 3% 5% 0% 5%;
}

.blog-notice {
    background-color: var(--gray);
}

.blog-notice-heading {
    font-size: 25px;
    text-align: center;
    color: var(--text);

    padding: 5%;
}

footer {
    margin-top: 50px;
}
